# Dependency folders
node_modules/
jspm_packages/
.pnpm-store/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git/
.gitignore

# Source code
src/
public/
tests/
*.config.js
*.json
!package.json
!dist/

# Documentation
README.md
LICENSE

# OS files
.DS_Store
Thumbs.db